@model WebApplication4.Models.Equipes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_Equipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_Equipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIB_Equipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIB_Equipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_VICTOIRES_Equipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_VICTOIRES_Equipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_DEFAITES_Equipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DEFAITES_Equipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFERENCE_Equipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFERENCE_Equipe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
