@model WebApplication4.Models.Equipes

@{
    ViewBag.Title = "Details";
}

<style>
    .details-container {
        margin-top: 20px;
    }

        .details-container h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .details-container h4 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .details-container hr {
            margin-top: 10px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #ccc;
        }

        .details-container dl {
            margin-bottom: 20px;
        }

        .details-container dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .details-container dd {
            margin-left: 20px;
            margin-bottom: 10px;
        }

        .details-container ul {
            margin-top: 5px;
            margin-left: 20px;
        }

            .details-container ul li {
                margin-bottom: 5px;
            }

        .details-container p {
            margin-top: 20px;
        }

        .details-container a {
            margin-right: 10px;
        }

    .image-container {
        text-align: center;
    }

        .image-container img {
            display: inline-block;
        }

</style>

<div class="details-container">
    <h2>Details</h2>

    <div>
        <h4>@Html.DisplayFor(model => model.NOM_Equipe)</h4>
        <dl class="dl-horizontal">
            <dd>
                <img src="~/Images/Equipes/@(Model.LIB_Equipe).png" alt="@Model.NOM_Equipe Logo" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LIB_Equipe)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LIB_Equipe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE_VICTOIRES_Equipe)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NOMBRE_VICTOIRES_Equipe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE_DEFAITES_Equipe)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NOMBRE_DEFAITES_Equipe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CONFERENCE_Equipe)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CONFERENCE_Equipe)
            </dd>

            <dt>
                Les joueurs de l'équipe :
            </dt>
            <dd>
                <ul>
                    @foreach (var player in Model.Joueurs)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => player.NOM_Joueur)
                            -- @Html.DisplayFor(modelItem => player.POSTE_Joueur)
                        </li>
                    }
                </ul>
            </dd>
        </dl>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Equipe }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
    </p>
</div>
