@model IEnumerable<WebApplication4.Models.Equipes>

@{
    ViewBag.Title = "Index";
}

<h2>Equipe de  NBA :</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h4>Conférence Est :</h4>
<div>
    @foreach (var item in Model.Where(e => e.CONFERENCE_Equipe == "EST"))
    {
        <a href="@Url.Action("Details", new { id = item.ID_Equipe })" class="team-card">
            <img src="~/Images/Equipes/@(item.LIB_Equipe).png" />
            <h3>@Html.DisplayFor(modelItem => item.NOM_Equipe)</h3>
        </a>
    }
</div>

<h4>Conférence Ouest :</h4>
<div>
    @foreach (var item in Model.Where(e => e.CONFERENCE_Equipe == "OUEST"))
    {
        <a href="@Url.Action("Details", new { id = item.ID_Equipe })" class="team-card">
            <img src="~/Images/Equipes/@(item.LIB_Equipe).png" />
            <h3>@Html.DisplayFor(modelItem => item.NOM_Equipe)</h3>
        </a>
    }
</div>

<style>
    .team-card {
        display: inline-block;
        width: 30%;
        margin: 10px;
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

    .team-card img {
        max-width: 100px;
        max-height: 100px;
    }
    
    h3 {
        margin-top: 10px;
        font-size: 18px;
        color: #333;
        text-decoration: none;
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
    }

     a{
         text-decoration: none;
     }

     h2{
   text-align: center;
 font-size: 40px;
   font-weight: bold;
     }
</style>