@model IEnumerable<WebApplication4.Models.Joueurs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM_Joueur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRENOM_Joueur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE_Joueur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_Joueur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSTE_Joueur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipes.NOM_Equipe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_Joueur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRENOM_Joueur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGE_Joueur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO_Joueur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSTE_Joueur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipes.NOM_Equipe)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID_Joueur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Joueur })
        </td>
    </tr>
}

</table>